<% book_id = params["id"] %>
<% book = Book.read(book_id) %>
<% rating = Review.where("book_id" => book["id"]) %>

<h2><%= book["title"] %></h2>

<li>Price: $<%= book["price"] %></li>
<li>Average Star Rating: <% rating.average("star_rating") %></li>

<p><strong>Reviews:</strong></p>

<% review = Review.where("book_id" => book["id"]) %>

<ul>
  <% reviews.each do |review|%>
    <li><%= review["review"] %></li>

  <% end %>
</ul>
